<head>
    <title>See That Sign Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
  </head>
<body>
    <!--//////// Navbar ///////////-->
    <nav class="navbar navbar-light bg-light">
        <div class="navbar-brand">
            <img src="{{ url_for('static', filename='assets/logo/gblue.png') }}" width="30" height="30" alt="">
            enerate
            <img src="{{ url_for('static', filename='assets/logo/iblue.png') }}" width="30" height="30" alt="">
            mage
            <img src="{{ url_for('static', filename='assets/logo/vblue.png') }}" width="30" height="30" alt="">
            ariations
        </div>
    </nav>
    <!-- ///////////////////////// -->

    <form action = "http://127.0.0.1:5000/upload" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>

    <!--//////// Footer ///////////-->
    <div class="footer">
        <span class="footer-text">See That Sign Project ©</span>
    </div>
    <!-- ///////////////////////// -->
</body>