<head>
    <title>See That Sign Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
  </head>
<body>
    <!--//////// Navbar ///////////-->
    <nav class="navbar navbar-light bg-light">
        <div class="navbar-brand">
            See That Sign?
        </div>
    </nav>
    <!-- ///////////////////////// -->

    <form action = "http://127.0.0.1:5000/upload" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
      
    {% if upload %}
    <p><strong>{{ upload }}</strong> 
    {% endif %}

    <!--//////// Footer ///////////-->
    <div class="footer">
        <span class="footer-text">See That Sign Project ©</span>
    </div>
    <!-- ///////////////////////// -->
</body>